@value makerWheat, makerLightGrey, makerGreen from '../../common/colors.css';

.editor {
  padding: 0.5em 2em;

  flex-basis: 50%;
  border-right: 1px solid makerLightGrey;
  background-color: makerWheat;
}

.title {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
  color: makerGreen;
}
